<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HayHay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4751151D1C9BA41D004C8AC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>475115331C9BA41D004C8AC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4751153E1C9BA41D004C8AC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
